#control .ui-content {
    height: 100%;
    padding: 0px;
}

#control {
    height: 100%;
}
#panelPedidos-popup {
    right: 0 !important;
    left: auto !important;
}
#panelPedidos {
    border: 1px solid #000;
    border-right: none;
    background: rgba(0,0,0,.5);
    margin: -1px 0;
}
#panelPedidos .ui-btn {
    margin: 2em 15px;
}
.pedidoDirCont{
    float: left;
    margin: -20px 1% 0 1%;
    width: 48%;
}
h3{
    color: yellow;    
}
.cerrarPopup{    
    float: right;
}
.popupPedido{
    background: rgba(0,0,0,.5);
}
#panelSelectPedido-popup, #panelPedido-popup{
    width: 100%;
}